<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TinyClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TinyClient.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value>11036d06cf4242ab7e4b20ff237b99be9445bcfdd305d1ba2ff13d8e0b1007070e50c2813151f078f50c3</value>
            </setting>
            <setting name="photoSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="accentColor" serializeAs="String">
                <value>#FF017BCD</value>
            </setting>
            <setting name="contrastColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="accentColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundTransparency" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="backgroundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>0.5</value>
            </setting>
        </TinyClient.Properties.Settings>
    </userSettings>
</configuration>